<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>8279 Students 2019</title>
    </head>
    <body>
        <h1>Lab 11: 8279 Students and their Countries 2019  </h1>
        <br />
        <br />
        <a href = "/findStudent"><strong> * Find Student * </strong>- To Display the city of a specific Student in the google map -</a>
        <br />
        <br />
        <br />
        <a href = "/listStudent"><strong> * Display All Student * </strong>- To Display all student with their cities and countries -</a>
    </body>
</html>